---
title: 'ASPIRE: Transformations for Reducing Software Complexity'
layout: default
---

<div class="row">
	<div class="col-md-12">
	<div class="page-header" class="col-lg-12"> <h4>Papers</h4> </div>
		{% for pub in site.data.pubs %}
		<div class="panel panel-info">
			<div class="panel-heading">
				{{ pub.title }}	
			</div>
			<div class="panel-body">
				{{pub.authors}}</br>
				{{pub.conference}}</br>
				{% if pub.award != nil %}
				<font color="red"><b>	{{pub.award}} </b></font></br>
				{% endif %}
				{% if pub.paper != nil %}
				[<a href="{{site.baseurl}}{{ pub.paper }}">PDF</a>]
				{% endif %}
				{% if pub.long != nil %}
				[<a href="{{site.baseurl}}{{pub.long}}">Long Version</a>]	
				{% endif %}
				{% if pub.slides != nil %}
				[<a href="{{site.baseurl}}{{pub.slides}}">Slides</a>]
				{% endif %}
				{% if pub.poster != nil %}
				[<a href="{{site.baseurl}}{{pub.poster}}">Poster</a>]
				{% endif %}
				{% if pub.code != nil %}
				[ {{pub.code}}]
				{% endif %}
				{% if pub.other != nil %}
				{{pub.other}}
				{% endif %}
				{% if pub.howto != nil %}
				[<a href="{{site.baseurl}}{{pub.howto}}">How to Run</a>]
				{% endif %}
			</div>
		</div>
		{% endfor %}
	</div>
</div>
